/venv/
/.pytest_cache/
.idea/misc.xml
.idea/other.xml
.idea/workspace.xml

Retinotectal_Simulation_Results/*
!Retinotectal_Simulation_Results/
!Retinotectal_Simulation_Results/.gitkeep

/python_tests_fynn/
/Retinotectal_Simulations_Powerpoints/
